<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Edit Event</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="dashboard-container">
        <h1>Edit Event</h1>
        <form method="POST">
            <input  type="text" class="event_input_box" name="title" value="{{ event.title }}" required>
            <input  type="text" class="event_input_box" name="description" value="{{ event.description }}" required>
            <input type="datetime-local" class="event_input_box" name="datetime" value="{{ event.datetime }}" required>
            <input type="text" class="event_input_box" name="location" value="{{ event.location }}" required>
            <button type="submit" class="button">Update Event</button>
        </form>
        <a href="{{ url_for('home') }}" class="button">Cancel</a>
    </div>
</body>
</html>
